* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
    width: 100%;
}
header a {
    background-color: black;
}

header a img {
    height: 11vh;
    margin: 0;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

nav {
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    background-color: black;
    width: 100%;
}

nav a {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
}

.banniere {
    background: url(/img/bann.jpg);
    justify-content: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
}

  /* ------------------- ------------------------------- ------------------------------- -------*/

  h1 {
    text-align: center;
    font-size: 20vmin;
    text-transform: uppercase;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .overlap{
    --overlap: .35ch;
    --shadow-offset: .1ch;
    --shadow-blur: .2ch;
    --shadow-color: black;
    letter-spacing: calc(var(--overlap) * -1); 
    isolation: isolate;
  }
  .overlap-front { --mult: 1; }
  .overlap-back { --mult: -1; }
  
  .overlap>span { 
    position: relative;
    z-index: calc(var(--index, 1) * var(--mult, 1));
  }
  .overlap-front>span:not(:first-of-type),
  .overlap-back>span:not(:last-of-type){
    text-shadow: 
      calc(var(--mult, 1) * var(--shadow-offset,0) * -1) 0 
      var(--shadow-blur, 0) 
      var(--shadow-color, #ffffff);
  }

.black {
    width: 100%;
    height: 5vh;
    background-color: black;
}

/* ----------------------------    ----------------------  ----------------   */

.regle {
    width: 50%;
}

.accordion {
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.313);
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
    
  .active, .accordion:hover {
    background-color: yellow; 
    color: #444;
  }
  
  .panel {
    display: none;
    background-color: black;
    overflow: hidden;
    width: 100%;
    margin-right: 0;
    padding: 0.2rem;
  }
    
  .panel p {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.4rem;
  }
  
  /* ---------------- ------------------------ ---------------------- --------------*/

  main {
    width: 100%;
  }

  .main-2 {
    display: flex;
  }

  .lancement {
    width: 50%;
  }

  .un {
    background: url(/img/pointnoir.webp);
    width: 90%;
    margin-left: 2.5%;
    height: 53vh;
    border-radius: 25px;
  }

  .de {
    width: 100%;
    height: 53vh;
    background: rgba(0, 0, 0, 0.936) url(/img/gif-un.gif) no-repeat center center;
    border-radius: 25px;
    background-size: 40%;
  }

  #preloader {
    background: black url(/img/preloader.gif) no-repeat center center;
    height: 100vh;
    background-size: 15%;
    border-radius: 15px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  .news-letters {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    background-color: rgba(255, 255, 0, 0.906);
    padding: 3rem;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 1.5rem;
  }

  .news-letters h2{
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  .mail {
    display: flex;
    width: 80%;
    margin-left: 10%;
    padding: 1.5rem;
  }

  .mail input {
    width: 95%;
    padding: 0.4rem;
    font-size: 1.1rem;
  }

  .mail img {
    height: 5vh;
  }

  .button button {
    padding: 0.7rem;
    width: 90%;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  .button button:hover {
    background-color: #232121bf;
  }

  .play {
    width: 30%;
    margin-left: 35%;
    display: flex;
  }

  .play img {
    height: 10vh;
  }

  .play a {
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    padding: 0.4rem;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-radius: 0px 0px 40px 40px;
    margin-top: 2rem;
  }

  .play a:hover {
    background-color: red;
  }

  .vert {
    width: 50%;
    margin-left: 25%;
    height: 5vh;
    background-color: green;
    border-radius: 50px 50px 15px 15px;
    margin-top: 1rem;
  }

  .vert2 {
    width: 50%;
    margin-left: 25%;
    height: 5vh;
    background-color: green;
    border-radius: 15px 15px 50px 50px;
    margin-top: 1rem;
  }

  .explicite {
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
    padding: 0.4rem;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-radius: 40px 40px 0px 0px;
    margin-top: 2rem;
  }

  .explixiter {
    width: 30%;
    margin-left: 35%;
    display: flex;
    margin-bottom: 1rem;
  }

  .explixiter img {
    height: 7vh;
    margin: 1rem;
  }

  /* ------------------------- ----------------------------  ---------------------------- -----------*/

  .conten {
    width: 48%;
    margin-top: 2.5rem;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0.211), 0 0 2rem rgba(255, 255, 255, 0.211);
    padding: 2rem;
  }

  .gauchot h2 {
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 1rem;
  }

  .uno {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }

  .uno img {
    height: 9vh;
  }

  .uno p {
    color: white;
    margin-top: 11%;
    margin-left: 3%;
    letter-spacing: 1.5px;
  }

  .uno p span {
    color: greenyellow;
  }

    /* ------------------------- ----------------------------  ---------------------------- -----------*/

    .conten2 {
        width: 48%;
        margin-top: 2.5rem;
        margin-left: 51%;
        margin-right: 1%;
        border-radius: 30px;
        box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0.211), 0 0 2rem rgba(255, 255, 255, 0.211);
        padding: 2rem;
      }
    
      .gauchot2 h2 {
        color: white;
        font-size: 2.5rem;
        justify-content: center;
        text-align: center;
        margin: 1rem;
      }
    
      .uno2 {
        width: 90%;
        margin-left: 5%;
        display: flex;
      }
    
      .uno2 img {
        height: 9vh;
      }
    
      .uno2 p {
        color: white;
        margin-top: 11%;
        margin-left: 3%;
        letter-spacing: 1.5px;
      }

      .uno2 p span {
        color: grey;
      }
    
        /* ------------------------- ----------------------------  ---------------------------- -----------*/

  .conten3 {
    width: 48%;
    margin-top: 2.5rem;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0.211), 0 0 2rem rgba(255, 255, 255, 0.211);
    padding: 2rem;
  }

  .gauchot3 h2 {
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 1rem;
  }

  .uno3 {
    width: 90%;
    margin-left: 5%;
    display: flex;
  }

  .uno3 img {
    height: 9vh;
  }

  .uno3 p {
    color: white;
    margin-top: 11%;
    margin-left: 3%;
    letter-spacing: 1.5px;
  }

  /* ------------------------ ----------------------------- ----------------------------- */

  footer {
    width: 100%;
    background-color: white;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
  }

  /* --------------------- -------------------------- --------------------- */

  @media screen and (max-width: 1088px) {
    .banniere h1 {
        font-size: 800%;
        margin-left: 7%;
        color: white;
        font-stretch: narrower;
        padding-left: 5%;
        padding-top: 3rem;
    }

    .main-2 {
        display: block;
        padding: 2rem;
    }    

    .lancement {
        margin-top: 5%;
        margin-left: 25%;
    }

    .regle {
        margin-left: 25%;
    }

    .conten {
        width: 50%;
        margin-left: 25%;
    }

    .conten2 {
        width: 50%;
        margin-left: 25%;
    }

    .conten3 {
        width: 50%;
        margin-left: 25%;
    }
    
  }

  @media screen and (max-width: 853px) {
    .banniere h1 {
        font-size: 600%;
        margin-left: 10%;
        color: white;
        font-stretch: narrower;
        padding-left: 5%;
        padding-top: 3rem;
    }
    
  }